{
	"deploy" : {
		"master"	: 'server1',
		"dev"		: ['server2'],
		"deploy"	: ['server3', 'server4']
	},
	"servers" : {
		"server1" : {
			"_type"			: "Deploy/Server/Ftp",
			"server"		: "demodomain.com",
			"port"			: 21,						// Optional
			"username"		: "demo",
			"password"		: "login",
			"path"			: "/path/on/remote"
		},
		"server2" : {
			"_type"			: "Deploy/Server/Sftp",
			"_auth"			: "password",				// List(none, password, pubkey)
			"server"		: "demodomain.com",
			"port"			: 22,						// Optional
			"username"		: "demo",
			"password"		: "login",					// Required for _auth:password or _auth:pubkey as passphrase
			"privkeyfile"	: "/path/to/key"			// Required for _auth:pubkey
		},
		"server3" : {
			"_type"		: "Deploy/Server/Group",
			"servers"	: [
				{
					"_type"			: "Deploy/Server/Ftp",
					"server"		: "demodomain.com",
					"port"			: 21,						// Optional
					"username"		: "demo",
					"password"		: "login",
					"path"			: "/path/on/remote"
				},
				{
					"_type"			: "Deploy/Server/Ftp",
					"server"		: "demodomain.com",
					"port"			: 21,						// Optional
					"username"		: "demo",
					"password"		: "login",
					"path"			: "/path/on/remote"
				}
			]
		},
		"server4" : {
			"_type"		: "Deploy/Server/Group",
			"servers"	: [
				{
					"_type"			: "Custom/Server/Api",
					"optional"		: "params",
				},
				{
					"_type"			: "Custom/Server/Db",
					"optional"		: "params",
				}
			]
		},
		"server5 : {
			"_type"		: "Deploy/Server/Group",
			"servers"	: [
				"server1",
				"server2",
				"server3"
			]
		}
	},
	"events" : {
		"post.upload" : [
			{
				"_type"		: "Deploy/Listner/RemoteExecute",
				"command"	: "/usr/local/bin/php {{ path }}/cronjob/run.php cleancache --all"
			}
		],
		"pre.upload" : [
			{
				"_type"		: "Deploy/Listner/LocalExecute",
				"_deploy"	: "master",
				"command"	: "/do/somthing/local"
			},
			{
				"_type"		: "Deploy/Listner/MailZend",
				"_server"	: "default",
				"to"		: "cliff@obro.nl",
				"subject"	: "Er is een commit gedaan op branch {{ branch }}",
				"bericht"	: "Iemand heeft een commit gedaan voor {{ server }} {{ branch }} {{ old }} {{ new }}"
			}
		]
	}
}